@charset "UTF-8";
@import url(font.css);
@import url(reset.css);

.swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;}
body{font-family: "Noto Sans KR", sans-serif;}
.btn{color: #fff; width: 150px; height: 40px; background: #0C2440; font-size: 14px; display: flex; align-items: center; border-radius:1px ; justify-content: center; transition:0.2s;}
.btn:hover{background: #091c32;} 
.mo{display: none;}




header{height: 102px; width: 100%; display: flex; align-items: center; border-bottom: 1px solid #eaeef7; box-sizing: border-box;
position: absolute; z-index: 3; padding:0 4vw; gap: 20px;}
header::before{content: ''; width: 100%; height: 100%; position: absolute; z-index: 1; background: linear-gradient(to bottom, rgba(12,36,64,0.5), rgba(12,36,64,0)); top: 0; left: 0;}


header h1{position: relative; z-index: 5; width: 7vw; height: auto; flex: 0 0 auto; }
header h1 img{width: 100%; height: 100%; object-fit: contain; object-position: top left; }
header .nav{height: 100%;  flex: 1 1 auto; min-width: 0; display: flex; justify-content: center;}
header .gnb{display: flex; height: 100%; align-items: center; position: relative; z-index: 5;}
header .gnb > li{position: relative; height: 100%;}
header .gnb > li > a{padding: 0 2vw; display: flex;
align-items: center; color: #fff; font-size: 18px; height: 100%; white-space: nowrap;}
header .gnb li .lnb{position: absolute; top: 100px; height: 0; overflow: hidden; transition: 0.3s;} 
header .gnb li .lnb li{padding: 10px 0; width: 100%; text-align: center;}
header .gnb li .lnb li a{color: #CACACA; font-size: 16px; white-space: nowrap; border-bottom: 2px solid transparent; transition: .3s; }


header .gnb:hover li a{color:#cacaca; transition: 0.2s; }
header .gnb > li:hover > a{color: #fff; border-bottom: 1px solid #fff;}
header .nav .lnbbg{position: absolute; top: 0; left: 0; width: 100%; height: 420px;
transition:0.4s; background:rgba(12,36,64, 0.8); opacity: 0; pointer-events: none;}
header .nav:hover .lnbbg{opacity: 1; pointer-events: auto;}
header .gnb:hover li .lnb{width: 100%; height: 350px; transition: 0.3s;}
header .gnb li .lnb li:hover a{color: #FFF;}


header .btnheader{padding: 7px 1.2vw; border: 1px solid #368CF0; background: rgba(255, 255, 255, 0.2); backdrop-filter:blur(5px); position: relative; z-index: 5; transition:color 0.2s;color: #000; font-size: 14px; border-radius: 2px;  flex: 0 0 auto;}
header .nav:hover ~ .btnheader{color: #eaeef7; }


.hero{position: relative;}
.hero .herobox{position: absolute; z-index: 2; left: 70%; top:54%; transform: translate(-50%,-50%); background: rgba(233, 232, 232, 0.5); width: 568px; height: 286px;
display: flex; flex-direction: column; justify-content: center; padding-left: 34px;}
.herobox .herot1{font-size: 18px; letter-spacing: -0.09em; font-weight: 300; color: #111;}
.herobox .herot2{font-size: 60px; color: #0C2440; font-weight: 600;  margin-bottom: 10px;}
.herobox .herot3{font-size: 20px; letter-spacing: -0.02em; font-weight: 300; color: #111;}
.herobox .t_btn{display: flex; align-items: center; justify-content: space-between;}
.herobox .t_btn{}
.swiper{height: 100vh; width: 100%;}

.section1 > .container{/* width: 1373px; height: 374px; */ display: flex; /* align-items: center; */ justify-content: center; margin: 150px auto; gap:4vw;}
.section1 > .container > figure{width: 30%; }
.section1 > .container > figure > img{width: 100%; height: 100%; object-fit: cover;}
.section1 .text_set{width: 50%; margin-top: auto; margin-bottom: auto;}
.section1 .text_set h3{font-size: 28px; font-weight: 400; display: inline-block; margin-bottom: 0.9vw;}
.section1 .text_set h3 span{font-size: 30px; font-weight: 600; color: #0C2440;}
.section1 .text_set p{font-size: 18px; letter-spacing: -0.02em;  width: 100%; line-height: 1.6; /* text-indent: 8px; */}
.section1 .text_set p:last-of-type{margin-bottom: 1.8vw;}

.section2{max-width: 1920px; min-height: 685px; display: flex; margin: 0 auto; }
.section2 .left{width: 50vw; background:url(../images/section2-1.png); display: flex; justify-content: end; height: 685px;}
.section2 .left ul{display: flex;  flex-direction: column; gap: 2.3vw; justify-content: center; /* margin-right: 3.6vw; */ width: 570px; margin-left: auto; margin-right: auto;}  
.section2 .left ul li{display: flex; align-items: center; }
.section2 .left ul li figure{ width:115px; height: 115px; background: #f6f6f6; box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.05); display: flex; align-items: center; justify-content: center; margin-right: 0; border-radius: 5px;}
.section2 .left ul li > figure > img{width: 90%; height: 90%; object-fit: contain; object-position: center;}
.section2 .left ul li .s2ltext{margin-left: 20px;}
.section2 .left ul li .s2ltext .title{font-size: 20px; font-weight: 500; margin-bottom: 0.4em; letter-spacing: -0.02em;}
.section2 .left ul li .s2ltext p{font-size: 18px; line-height: 1.4; color: #333;}

.section2 .right{width: 50vw; height: 685px; background:#0C2440; color: #f4f4f4;}
.section2 .right .s2rtitle{font-size: 40px; font-weight: 400; margin: 90px 0 25px 127px; }
.section2 .right ul{display: flex; flex-direction: column; align-items: center; gap: 2vw;}
.section2 .right ul li{width: 500px; height: 199px; background: #4E5F73; box-sizing: border-box; padding: 20px 16px; border-radius: 5px; display: flex; flex-direction: column;}
.section2 .right ul li .newsti{font-size: 22px; font-weight: 400; color: #f4f4f4;} 
.section2 .right ul li span.date{font-size: 14px; opacity: 38%; margin:4px 0 12px; display: inline-block; line-height: 1;}
.section2 .right ul li p{font-size: 18px;}

.section3{margin: 150px auto 133px; display: flex; flex-direction: column; align-items: center; width: 96%;}
.section3 .s3title{font-size: 40px; font-weight: 400;}
.section3 ul{display: flex; column-gap:2.3vw; text-align: center;}
.section3 ul li{width: 40%;}
.section3 ul li figure{width: 100%;}
.section3 ul li figure img{width: 100%; height: auto; margin: 25px 0;}
.section3 ul li span.s3t{font-size: 22px; font-weight: 500; margin-bottom: 10px; display: block;}
.section3 ul li p{font-size: 18px; letter-spacing: -0.04em;}

footer{background: #0C2440; padding:4vw 0; display: flex; gap:4vw; justify-content: center;}
footer p{color:#f4f4f4; font-size: 15px; font-weight: 400;}




@media screen and (max-width:1100px) {
    body.no-scroll{overflow: hidden; height: 100vh;}

    header{padding: 0 1.5rem; height:clamp(50px,5.3vw,100px); border-bottom: 0; align-items: start;}
    header h1{width: auto; height:20px;}
    header .btnheader.pc{display: none; }
    /* 햄버거 만들기 버튼은 49행 */
    .hamburgerBox.mo{display: inline-block;}

    header.on{padding: 0;}
    header.on h1{margin-left: 1.5rem; }
    header.on h1.hide{display: none;}

    header .nav{width: 100%; height: 100vh; background: #0c2440; position: fixed; top: 0; left: 100%; z-index: 30; display: flex; justify-content: start; transition: left 0.5s ease; overflow-y: auto;} 
    header.on .nav{left: 0;}
    header .nav .gnb{opacity: 0;}
    header.on .nav .gnb{flex-direction: column; align-items: start; height: auto; margin-top: 20px; padding: 0 1.5rem; opacity: 1;}
    header.on .nav .gnb > li{height: auto;}
    header.on .nav .gnb > li > a{display: block; padding: 18px 0; color: #fff; font-size: 18px; height: auto; width: 100%;}

    header .gnb:hover li .lnb {height: auto; width: 100%;}
    header.on .nav .gnb > li .lnb{position: relative; top: 0; height: auto; max-height: 0; overflow: hidden; transition:max-height 0.4s ease; background: transparent; margin-left: 10px;}
    header .gnb li .lnb li{text-align: left;}
    header.on .nav .gnb > li.open .lnb{max-height:300px; margin-bottom: 20px;}
    header.on .nav .gnb li .lnb li a { color: #cacaca; font-size: 15px;}
    header.on .nav .gnb li .lnb li:hover a { color: #fff; }
    header .gnb > li:hover > a{border: 0;}

    header .nav .lnbbg { display: none; }



    header .hamburgerBox.mo, header.on .hamburgerBox.mo
    {position: absolute; right: 1.5rem;  z-index: 35;}

.hamburgerBox{width: 32px; height: 32px; position: relative; z-index: 20; margin-top: 10px;}
.hamburgerBox .hamburger{position: absolute; width: 24px; height: 2.4px; background: #fff; display: inline-block; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.hamburgerBox .hamburger::before,
.hamburgerBox .hamburger::after
{content: ''; width: 100%; height: 100%; background: #fff;  transition: transform 0.4s;}
.hamburgerBox .hamburger::before{position: absolute; top: -8px;}
.hamburgerBox .hamburger::after{position: absolute; top: 8px;}
.hamburger.on::before{width: 50%; transform-origin: right; left: auto; right: 0; top: 0; transform: rotate(45deg);}
.hamburger.on::after{width: 50%; transform-origin: right; left: auto; right: 0; top: 0; transform: rotate(-45deg);}



    .hero .herobox{ width: 440px; left: 50%; top:55%; height: auto; padding: 2.4vw 0 2.4vw 1.8vw;}
    .hero .herobox .herot1{font-size: 14px; line-height: 1;}
    .hero .herobox .herot2{font-size: 44px; line-height: 1.2;}
    .hero .herobox .t_btn .btn{font-size: 14px;}
    .hero .herobox .t_btn .herot3{font-size: 16px; line-height: 1.6;}

    .swiper{height: auto; width: 100%;}



    .section2{flex-wrap: wrap; justify-content: center;}  
    .section2 .left{width: 100%; justify-content: center;}
    .section2 .right{width: 100%; justify-content: center;}
    .section2 .right .s2rtitle{text-align: center; margin-left: 0;}
    .section2 .right ul{display: flex; flex-direction: column; align-items: center;}
    /* .section3 > ul{flex-wrap: wrap; justify-content: center; } */
    .section3 > ul{display: grid; grid-template-columns: repeat(2, 1fr); row-gap: 4.6vw;}
    .section3 > ul > li{width: 100%; }
    
}  



@media screen and (max-width:715px) {
    header .gnb{display: none;}
    header.on .gnb{display: flex;}
    header .nav:hover .lnbbg{display: none;}
    .hero .herobox{width: 280px; height: 150px;}
    .hero .herobox .herot1{font-size: 14px; }
    .hero .herobox .herot2{font-size: 35px;}
    .hero .herobox .t_btn .herot3{display: none;}
    .hero .btn{font-size: 11px; width: 100px; height: 30px;}

/* 
 .hero .herobox{ width: 440px; left: 50%; top:55%; height: auto; padding: 2.4vw 0 2.4vw 1.8vw;}
    .hero .herobox .herot1{font-size: 14px; line-height: 1;}
    .hero .herobox .herot2{font-size: 44px; line-height: 1.2;}
    .hero .herobox .t_btn .btn{font-size: 14px;}
    .hero .herobox .t_btn .herot3{font-size: 16px; line-height: 1.6;} */

    
    .section1 .container{flex-direction: column; align-items: center;}
    .section1 .container .text_set{display: flex; flex-direction: column; align-items: center;}
    .section1 > .container > figure{width: 60%; }
    .section1 .text_set{width: 80%; margin-top: auto; margin-bottom: auto;}
    .section1 .text_set h3{font-size: 20px; font-weight: 400; display: inline-block; margin-bottom: 0.9vw;}
.section1 .text_set h3 span{font-size: 24px; font-weight: 600; color: #0C2440;}
    .section1 .text_set p{font-size: 16px; letter-spacing: -0.02em;  width: 100%; line-height: 1.6; }
    .section1 .text_set p:last-of-type{margin-bottom: 2.2vw;}

    .section2 .right .s2rtitle{font-size: 30px;}
    .section2 .left ul li .s2ltext .title{font-size: 18px;}
    .section2 .left ul li .s2ltext p{font-size: 16px;}
    .section2 .right ul li .newsti{font-size: 20px;}
    .section2 .right ul li span.date{font-size: 12px;}
    .section2 .right ul li p{font-size: 16px;}


    .section3 .s3title{font-size: 30px;}
    .section3 ul li span.s3t{font-size: 20px;}
    .section3 ul li p{font-size: 16px;}

    footer{flex-direction: column; align-items: center;}
    footer > img{width: 76px; height:auto;}
    footer > p{font-size: 12px;}
    

    
}