@charset "UTF-8";
@import url(font.css);
@import url(reset.css);

.swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;}
body{font-family: "Noto Sans KR", sans-serif;}
.btn{color: #fff; width: 150px; height: 40px; background: #0C2440; font-size: 15px; display: flex; align-items: center; justify-content: center; }




header{height: 102px; width: 100%; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #fff; box-sizing: border-box;
position: absolute; z-index: 3; padding:0 8vw;}
header .nav{height: 100%;}
header .gnb{display: flex; height: 100%; align-items: center;}
header .gnb > li{position: relative; height: 100%;}
header .gnb > li > a{padding: 0 2vw; display: flex;
    align-items: center; color: #fff; font-size: 20px; height: 100%;}
header .gnb li .lnb{position: absolute; top: 100px; height: 0; overflow: hidden; transition: 0.3s;} 
header .gnb li .lnb li{padding: 10px 30px; text-align: center;}
header .gnb li .lnb li a{color: #CACACA; font-size: 16px;}


header .gnb:hover li a{color:#cacaca}
header .gnb > li:hover > a{color: #fff; transition: 0.3s; border-bottom: 1px solid #0C2440;}
header .nav:hover .lnbbg{position: absolute; width: 100%; height: 350px; left: 0; top: 102px; background:rgba(12,36,64, 0.7); transition: 0.3s; }
header .gnb:hover li .lnb{width: 100%; height: 350px; transition: 0.3s;}
header .gnb li .lnb li:hover a{color: #FFF;}


header .btnheader{padding: 9px 1.8vw; border: 1px solid #368CF0; background: rgba(255, 255, 255, 0.2); backdrop-filter:blur(5px);}

.hero{position: relative;}
.hero .herobox{position: absolute; z-index: 2; right: 15%; bottom:35%; background: rgba(233, 232, 232, 0.5); width: 568px; height: 286px;
display: flex; flex-direction: column; justify-content: center; padding-left: 34px;}
.herobox .herot1{font-size: 18px; letter-spacing: -0.09em; font-weight: 300; }
.herobox .herot2{font-size: 60px; color: #0C2440; font-weight: 600;  margin-bottom: 10px;}
.herobox .herot3{font-size: 20px; letter-spacing: -0.02em; font-weight: 300;}
.herobox .t_btn{display: flex; align-items: center; justify-content: space-between;}
.herobox .t_btn{}

.section1 > .container{/* width: 1373px; height: 374px; */ display: flex; align-items: center; justify-content: center; margin: 150px 0;}
figure{width: 501px; height: 374px; margin-right: 81px;}
.section1 > .container > figure > img{width: 100%;}
.section1 .text_set h3{font-size: 40px; font-weight: 400;}
.section1 .text_set h3 span{font-size: 40px; font-weight: 600; color: #0C2440;}
.section1 .text_set p{font-size: 22px; letter-spacing: -0.02em; margin: 25px 0 37px;}

.section2{max-width: 1920px; min-height: 685px; display: flex; margin: 0 auto; }
.section2 .left{width: 50vw; background:url(../images/section2-1.png); display: flex; justify-content: end; height: 685px;}
.section2 .left ul{display: flex;  flex-direction: column; gap: 2.3vw; justify-content: center; margin-right: 3.6vw; width: 570px; }  
.section2 .left ul li{display: flex; align-items: center; }
.section2 .left ul li figure{ width:115px; height: 115px; background: #4E5F73; display: flex; align-items: center; justify-content: center; margin-right: 0; border-radius: 5px;}
.section2 .left ul li .s2ltext{margin-left: 20px;}
.section2 .left ul li .s2ltext .title{font-size: 20px; font-weight: 400; margin-bottom: 20px; letter-spacing: -0.02em;}
.section2 .left ul li .s2ltext p{font-size: 18px; line-height: 1.3em;}

.section2 .right{width: 50vw; height: 685px; background:#0C2440; color: #f4f4f4;}
.section2 .right .s2rtitle{font-size: 40px; font-weight: 400; margin: 90px 0 25px 127px; }
.section2 .right ul li{width: 500px; height: 199px; background: #4E5F73; margin:0 6vw 34px 6vw; box-sizing: border-box; padding: 20px 16px; border-radius: 5px; }
.section2 .right ul li .newsti{font-size: 22px; font-weight: 400;}
.section2 .right ul li span.date{font-size: 18px; opacity: 38%; margin:8px 0 30px; display: inline-block;}

.section3{margin: 150px 0 133px; display: flex; flex-direction: column; align-items: center; }
.section3 .s3title{font-size: 40px; font-weight: 400;}
.section3 ul{display: flex; gap:2.3vw; text-align: center;}
.section3 ul li{}
.section3 ul li img{width: 429px; margin: 25px 0;}
.section3 ul li span.s3t{font-size: 20px; font-weight: 400; margin-bottom: 10px; display: block;}
.section3 ul li p{font-size: 18px; letter-spacing: -0.04em;}

footer{background: #0C2440; padding:77px 0; display: flex; gap:80px; justify-content: center;}
footer p{color:#f4f4f4; font-size: 15px; font-weight: 400;}


@media screen and (max-width:1267px) {
    header{padding: 0 1.5rem;}
    .hero .herobox{bottom: 20%; width: 500px;}
    .section1 .container{flex-direction: column;}
    .section1 .container .text_set{display: flex; flex-direction: column; align-items: center;}

    .section2{flex-wrap: wrap; justify-content: center;}  
    .section2 .left{width: 100%; justify-content: center;}
    .section2 .right{width: 100%; justify-content: center;}
    .section2 .right .s2rtitle{text-align: center; margin-left: 0;}
    .section2 .right ul{display: flex; flex-direction: column; align-items: center;}
    
    
    /* 여기수정중여기수정중여기수정중여기수정중여기수정중여기수정중여기수정중 */
    .section3 > ul{flex-wrap: wrap; justify-content: center;}
    .section3 > ul > li:nth-child(3){flex-grow: 1;}
    
}  

@media screen and (max-width:1053px){
    header{flex-wrap: wrap; border: none;}
    header h1{width: 100%;  margin-top: 3px;}
    header h1 img{width:10vw;} 
    header .nav{width: 100%;}
    header .gnb{justify-content: center;}
    header .gnb > li > a{height: 45px; }
    header .nav:hover .lnbbg{position: absolute; left: 0; top: 120px;  }
    header .btnheader{font-size: 14px; padding: 3px 1vw; position: absolute; top: 1vw; right: 1vw;}

    .hero .herobox{width: 380px; height: 200px; left: 28%; bottom: 15%; padding-left: 12px;}
    .hero .herobox .t_btn .herot3{display: none;}

   

}

@media screen and (max-width:715px) {
    header .gnb{display: none;}
    header .nav:hover .lnbbg{display: none;}
    .hero .herobox{width: 280px; height: 150px; left: 28%;}
    .hero .herobox .herot1{font-size: 14px; }
    .hero .herobox .herot2{font-size: 35px;}
    .hero .herobox .t_btn .herot3{display: none;}
    .hero .btn{font-size: 11px; width: 100px; height: 30px;}
    
    .section1 .container{margin-left: 30px;}

    
}